<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>char/enemy/skeleton/skeleton_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{59,10},{14,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{14,36}</string>
			</dict>
			<key>char/enemy/skeleton/skeleton_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{10,140},{22,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,48}</string>
			</dict>
			<key>char/enemy/skeleton/skeleton_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,10},{8,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{8,14}</string>
			</dict>
			<key>char/enemy/skeleton/skeleton_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{52,140},{27,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,38}</string>
			</dict>
			<key>char/enemy/skeleton/skeleton_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{10,75},{24,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,45}</string>
			</dict>
			<key>char/enemy/skeleton/skeleton_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{10,10},{29,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,45}</string>
			</dict>
			<key>char/enemy/skeleton/skeleton_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{10,208},{26,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{26,40}</string>
			</dict>
			<key>char/enemy/skeleton/skeleton_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{97,55},{20,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,26}</string>
			</dict>
			<key>char/enemy/skeleton/skeleton_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{70,198},{24,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,26}</string>
			</dict>
			<key>char/enemy/skeleton/skeleton_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{135,10},{18,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{18,26}</string>
			</dict>
			<key>char/enemy/skeleton/skeleton_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{93,10},{22,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,25}</string>
			</dict>
			<key>char/enemy/skeleton/skeleton_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{54,75},{23,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,25}</string>
			</dict>
			<key>char/enemy/skeleton/skeleton_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{178,93},{13,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{13,15}</string>
			</dict>
			<key>char/enemy/skeleton/skeleton_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{148,170},{11,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{11,11}</string>
			</dict>
			<key>char/enemy/skeleton/skeleton_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{175,225},{11,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{11,11}</string>
			</dict>
			<key>char/enemy/skeleton/skeleton_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,128},{7,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{7,8}</string>
			</dict>
			<key>char/enemy/skeleton/skeleton_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{142,93},{16,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,21}</string>
			</dict>
			<key>char/enemy/skeleton/skeleton_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{99,137},{16,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,23}</string>
			</dict>
			<key>char/enemy/skeleton/skeleton_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{135,137},{13,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{13,25}</string>
			</dict>
			<key>char/enemy/skeleton/skeleton_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,10},{8,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{8,25}</string>
			</dict>
			<key>char/enemy/skeleton/skeleton_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{173,48},{9,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{9,25}</string>
			</dict>
			<key>char/enemy/skeleton/skeleton_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,180},{14,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{14,25}</string>
			</dict>
			<key>char/enemy/skeleton/skeleton_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,156},{6,9}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{6,9}</string>
			</dict>
			<key>char/enemy/skeleton/skeleton_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{145,225},{14,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{14,10}</string>
			</dict>
			<key>char/enemy/skeleton/skeleton_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{179,170},{14,7}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{14,7}</string>
			</dict>
			<key>char/enemy/skeleton/skeleton_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{97,101},{16,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{16,25}</string>
			</dict>
			<key>char/enemy/skeleton/skeleton_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,38},{6,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{6,21}</string>
			</dict>
			<key>char/enemy/skeleton/skeleton_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{137,48},{16,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,25}</string>
			</dict>
			<key>char/enemy/skeleton/skeleton_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,225},{13,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{13,11}</string>
			</dict>
			<key>char/enemy/skeleton/skeleton_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{148,201},{11,4}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{11,4}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>skeleton.png</string>
			<key>realTextureFileName</key>
			<string>skeleton.png</string>
			<key>size</key>
			<string>{256,256}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>256</integer>
			<key>height</key>
			<integer>256</integer>
		</dict>
	</dict>
</plist>