<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>char/enemy/icetiger/Icetiger_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{35,35},{101,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,78}</string>
			</dict>
			<key>char/enemy/icetiger/Icetiger_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,35},{84,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,86}</string>
			</dict>
			<key>char/enemy/icetiger/Icetiger_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,35},{88,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,76}</string>
			</dict>
			<key>char/enemy/icetiger/Icetiger_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{518,35},{88,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,76}</string>
			</dict>
			<key>char/enemy/icetiger/Icetiger_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{676,35},{72,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,90}</string>
			</dict>
			<key>char/enemy/icetiger/Icetiger_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{35,339},{62,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,78}</string>
			</dict>
			<key>char/enemy/icetiger/Icetiger_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{652,195},{79,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,59}</string>
			</dict>
			<key>char/enemy/icetiger/Icetiger_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{496,307},{70,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,54}</string>
			</dict>
			<key>char/enemy/icetiger/Icetiger_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,341},{66,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,56}</string>
			</dict>
			<key>char/enemy/icetiger/Icetiger_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{636,324},{68,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,38}</string>
			</dict>
			<key>char/enemy/icetiger/Icetiger_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{801,197},{50,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,60}</string>
			</dict>
			<key>char/enemy/icetiger/Icetiger_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,345},{68,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,54}</string>
			</dict>
			<key>char/enemy/icetiger/Icetiger_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{958,35},{28,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,72}</string>
			</dict>
			<key>char/enemy/icetiger/Icetiger_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,749},{16,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,54}</string>
			</dict>
			<key>char/enemy/icetiger/Icetiger_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{774,327},{72,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,30}</string>
			</dict>
			<key>char/enemy/icetiger/Icetiger_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{466,431},{74,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,32}</string>
			</dict>
			<key>char/enemy/icetiger/Icetiger_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{35,183},{84,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,86}</string>
			</dict>
			<key>char/enemy/icetiger/Icetiger_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{189,191},{71,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,84}</string>
			</dict>
			<key>char/enemy/icetiger/Icetiger_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{818,35},{70,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,92}</string>
			</dict>
			<key>char/enemy/icetiger/Icetiger_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{407,651},{54,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,28}</string>
			</dict>
			<key>char/enemy/icetiger/Icetiger_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{35,709},{28,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,54}</string>
			</dict>
			<key>char/enemy/icetiger/Icetiger_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{35,593},{36,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,46}</string>
			</dict>
			<key>char/enemy/icetiger/Icetiger_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{287,559},{50,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,34}</string>
			</dict>
			<key>char/enemy/icetiger/Icetiger_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{35,487},{52,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,36}</string>
			</dict>
			<key>char/enemy/icetiger/Icetiger_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{920,431},{68,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,24}</string>
			</dict>
			<key>char/enemy/icetiger/Icetiger_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{958,177},{28,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,62}</string>
			</dict>
			<key>char/enemy/icetiger/Icetiger_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,579},{24,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,62}</string>
			</dict>
			<key>char/enemy/icetiger/Icetiger_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,469},{50,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,40}</string>
			</dict>
			<key>char/enemy/icetiger/Icetiger_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{496,181},{86,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,56}</string>
			</dict>
			<key>char/enemy/icetiger/Icetiger_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,432},{28,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,60}</string>
			</dict>
			<key>char/enemy/icetiger/Icetiger_31.png</key>
			<dict>
				<key>frame</key>
				<string>{{462,533},{36,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,48}</string>
			</dict>
			<key>char/enemy/icetiger/Icetiger_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{921,309},{56,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,52}</string>
			</dict>
			<key>char/enemy/icetiger/Icetiger_33.png</key>
			<dict>
				<key>frame</key>
				<string>{{305,467},{87,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,22}</string>
			</dict>
			<key>char/enemy/icetiger/Icetiger_34.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,873},{16,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,16}</string>
			</dict>
			<key>char/enemy/icetiger/Icetiger_35.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,181},{66,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,90}</string>
			</dict>
			<key>char/enemy/icetiger/Icetiger_36.png</key>
			<dict>
				<key>frame</key>
				<string>{{708,523},{106,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,30}</string>
			</dict>
			<key>char/enemy/icetiger/Icetiger_37.png</key>
			<dict>
				<key>frame</key>
				<string>{{884,525},{56,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,26}</string>
			</dict>
			<key>char/enemy/icetiger/Icetiger_38.png</key>
			<dict>
				<key>frame</key>
				<string>{{251,663},{28,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,54}</string>
			</dict>
			<key>char/enemy/icetiger/Icetiger_39.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,623},{24,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,52}</string>
			</dict>
			<key>char/enemy/icetiger/Icetiger_40.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,745},{24,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,46}</string>
			</dict>
			<key>char/enemy/icetiger/Icetiger_41.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,711},{26,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,56}</string>
			</dict>
			<key>char/enemy/icetiger/Icetiger_42.png</key>
			<dict>
				<key>frame</key>
				<string>{{35,833},{26,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,56}</string>
			</dict>
			<key>char/enemy/icetiger/Icetiger_43.png</key>
			<dict>
				<key>frame</key>
				<string>{{884,621},{50,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,30}</string>
			</dict>
			<key>char/enemy/icetiger/Icetiger_44.png</key>
			<dict>
				<key>frame</key>
				<string>{{692,623},{24,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,56}</string>
			</dict>
			<key>char/enemy/icetiger/Icetiger_45.png</key>
			<dict>
				<key>frame</key>
				<string>{{714,861},{26,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,40}</string>
			</dict>
			<key>char/enemy/icetiger/Icetiger_46.png</key>
			<dict>
				<key>frame</key>
				<string>{{447,749},{14,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{14,14}</string>
			</dict>
			<key>char/enemy/icetiger/Icetiger_47.png</key>
			<dict>
				<key>frame</key>
				<string>{{568,562},{54,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,30}</string>
			</dict>
			<key>char/enemy/icetiger/Icetiger_48.png</key>
			<dict>
				<key>frame</key>
				<string>{{774,427},{76,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,26}</string>
			</dict>
			<key>char/enemy/icetiger/Icetiger_49.png</key>
			<dict>
				<key>frame</key>
				<string>{{880,831},{52,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,20}</string>
			</dict>
			<key>char/enemy/icetiger/Icetiger_50.png</key>
			<dict>
				<key>frame</key>
				<string>{{880,721},{34,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,40}</string>
			</dict>
			<key>char/enemy/icetiger/Icetiger_51.png</key>
			<dict>
				<key>frame</key>
				<string>{{447,833},{13,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{13,13}</string>
			</dict>
			<key>char/enemy/icetiger/Icetiger_52.png</key>
			<dict>
				<key>frame</key>
				<string>{{349,749},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>
			<key>char/enemy/icetiger/Icetiger_53.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,837},{15,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{15,12}</string>
			</dict>
			<key>char/enemy/icetiger/Icetiger_54.png</key>
			<dict>
				<key>frame</key>
				<string>{{531,772},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,18}</string>
			</dict>
			<key>char/enemy/icetiger/Icetiger_55.png</key>
			<dict>
				<key>frame</key>
				<string>{{906,921},{28,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,34}</string>
			</dict>
			<key>char/enemy/icetiger/Icetiger_56.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,847},{13,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{13,13}</string>
			</dict>
			<key>char/enemy/icetiger/Icetiger_57.png</key>
			<dict>
				<key>frame</key>
				<string>{{531,662},{27,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,40}</string>
			</dict>
			<key>char/enemy/icetiger/Icetiger_58.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,921},{26,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,40}</string>
			</dict>
			<key>char/enemy/icetiger/Icetiger_59.png</key>
			<dict>
				<key>frame</key>
				<string>{{530,860},{28,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,22}</string>
			</dict>
			<key>char/enemy/icetiger/Icetiger_60.png</key>
			<dict>
				<key>frame</key>
				<string>{{229,787},{28,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,21}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>icetiger.png</string>
			<key>realTextureFileName</key>
			<string>icetiger.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>